#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.logwindow > div.logwindow--inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    height: 40vh;
    overflow: scroll;
    padding: 1rem;
    margin: 1rem auto;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    span {
      text-align: left;
      white-space: nowrap;
      font-family: monospace;
      font-weight: normal;
    }
    :first-child {
      font-weight: bold;
    }
}

div.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: baseline;

}
